@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --sidebar: #eeeeee;
  --sidebar-hover: #e5e5e5;
  --sidebar-active: #d4d4d4;
  --border: #e5e7eb;
  --appointment-text: #4a5565;
  --appointment-time-bg: #f9fafb;
  --appointment-time-text: #1e2939;
  --appointment-time-border: #2b7fff;
  --font-primary: "Geist", system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --sidebar: #1f1f1f;
    --sidebar-hover: #2f2f2f;
    --sidebar-active: #3f3f3f;
    --border: #3f3f3f;
    --appointment-text: #d4d4d4;
    --appointment-time-bg: #1f1f1f;
    --appointment-time-text: #e5e7eb;
    --appointment-time-border: #364153;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar: var(--sidebar);
  --color-sidebar-hover: var(--sidebar-hover);
  --color-sidebar-active: var(--sidebar-active);
  --color-border: var(--border);
  --color-appointment-text: var(--appointment-text);
  --color-appointment-time-bg: var(--appointment-time-bg);
  --color-appointment-time-text: var(--appointment-time-text);
  --color-appointment-time-border: var(--appointment-time-border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist-VariableFont_wght.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GeistMono";
  src: url("../fonts/GeistMono-VariableFont_wght.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
